@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}

/* HEADER AREA */

header {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerContainer {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logocontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  height: 6rem;

  text-decoration: none;
  cursor: pointer;
  
}

.logocontainer img {
  width: 180px;
}

.hamburgerDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  cursor: pointer;
}

.hamburgerDiv span {
  display: block;
  background-color: black;
  color: black;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.mobileModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  border-right: 1px solid black;
}

.modalLogoDiv {
  width: 180px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modalLogoDiv img {
  width: 100%;
}

.modalLinksContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.modalLinksContainer a {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.modalLinksContainer a:hover {
  color: rgb(23, 23, 23);
  font-size: 1.22rem;
}

.modalLinksContainer hr {
  width: 70%;
  margin-bottom: 0.5rem;
  opacity: 0.5;
}



main {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  /* delete margin top later */
  margin-top: 4rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

footer h4 {
  background-color: black;
  color: white;
}



/* Create rotate effect for the logo later */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
