@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}

/* HEADER AREA */

header {
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerContainer {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logocontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  height: 6rem;

  text-decoration: none;
  cursor: pointer;
  
}

.logocontainer img {
  width: 180px;
}

main {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  /* delete margin top later */
  margin-top: 4rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

footer h4 {
  background-color: black;
  color: white;
}



/* Create rotate effect for the logo later */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
